<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_model_service_quote_submit_before">
	    <observer name="pp_donatefee_quote_submit_before" instance="Webline\Donation\Observer\SalesQuoteSubmitBefore" />
	</event>
</config>
